* {
  box-sizing: border-box;
  font-size: 14px;
  color: 	white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
html {
  background-color: #674baf;
  height: 100%;
}

body {
  background-image: url("https://github.com/VictorSanchez25/Huddle-Landing-Page/blob/master/images/bg-desktop.svg");
   background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.background {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: -2;

}

.bg-mobile {
  display: none;
}

.logo {
  width: 220px;
  height: auto;
  position: absolute;
  top:  50px;
  left: 100px;
}

.body-container {
  position: absolute;
  top: 110px;
  left: 50px;
  padding: 50px 60px;
  display: flex;
  flex-flow: nowrap;
  align-items: flex-end;
  justify-content: space-between;

}
/* Illustration Container */

.illustration {
  position: relative;
  width: 92%;
  height: 100%;
}

/* Description Container */
.description {
  width: 45%;
  margin: 20px 20px;
  position: relative;
  bottom: 120px;
  right: 50px;

}

.header {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Poppins' , sans-serif;
  line-height: 4rem;
  margin-top: 10px;
}

.sentence {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  margin-top: 20px;
  text-align: justify;
  font-weight: 400;
  line-height: 1.8rem;

}
.btn {
  margin-top: 20px;
  color: 	#674baf;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: white;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 50px;
}

.btn:hover {
  background-color: #00334e;
  color: white;
  cursor: pointer;
}

.icons {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.fab {
    border-radius: 60px;
    box-shadow: 0 0 2px white;
    padding: 0.5rem 0.6rem;
    margin-left: 25px;
}
.fab:hover {
  background-color: #00334e;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 3%;
  text-align: center;
}
@media (max-width: 1440px) {

  .body-container {
    width: 100%;
  }
}

@media (max-width: 800px) {

  html, body {
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  .background {
    background-size: cover;
    height: 100%;
    width: 100%;
  }


  .bg-mobile {
    display: block;
    width: 100%;
    height: 50%;
  }
  .bg-desktop {
    display: none;
  }

  .logo {
    width: 130px;
    height: auto;
    position: absolute;
    top: 30px;
    left: 50px;
  }
  .body-container {
    position: absolute;
    top: 70px;
    padding: 30px;
    display: flex;
    flex-flow:   column nowrap;
    align-items: center;
  }

  .illustration {
  width: 100%;
  height: inherit;
}
  .description {
    text-align: center;
    width: 90%;
    margin: 0;
    position: relative;
    top: 10px;
    right: 0;
  }
  .header {
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Poppins' , sans-serif;
    line-height: 2rem;
    margin-top: 10px;
  }
  .sentence {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
    font-stretch: expanded;
}

  .footer {
    position: relative;
    top: 10%;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 50px;
  }

  .icons {
    position: relative;
    z-index: 3;
    top: 5px;
    margin-top: 50px;
  }
}
